<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>

    <!-- desctription to improve SEO  -->
    <meta name="description" content="Petit Hotel Hafa is a boutique hotel experience of bohemian tropical Mexico.  Enjoy the roof deck overlooking all of Sayulita while being only two blocks from the beach. ">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Hotel Hafa, Sayulita" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="hotelhafasayulita.com" />
    <meta property="og:image" content="images/logo.jpg" />
    <meta property="og:description" content="Petit Hotel Hafa is a boutique hotel experience of bohemian tropical Mexico.  Enjoy the roof deck overlooking all of Sayulita while being only two blocks from the beach. "/>
    <meta property="og:site_name" content="Hotel Hafa, Sayulita" />

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
    <meta name="google-site-verification" content="SNvhI1Ar4bIfQm_9NN4_hw-rbKtwAwXnm3pLGTDUvPU" />
  </head>
  <body>
    <!-- Permet à la page de continuer à charger alors que le script JS charge -->
    <%= partial "navbar" %>
    <%= yield %>
    <%= partial "footer" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>


