---
title: Hotel Hafa
---


<div id="home">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="home-pictures">
        <div id="HotelHafaCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#HotelHafaCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#HotelHafaCarousel" data-slide-to="1"></li>
            <li data-target="#HotelHafaCarousel" data-slide-to="2"></li>
            <li data-target="#HotelHafaCarousel" data-slide-to="3"></li>
            <li data-target="#HotelHafaCarousel" data-slide-to="4"></li>
            <li data-target="#HotelHafaCarousel" data-slide-to="5"></li>

          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag "home/homepage1.jpg", width: 1400 %>
            </div>
            <% i = 0 %>
            <% 5.times do %>
              <% i += 1 %>
              <div class="item">
                <%= image_tag "home/homepage#{i}.jpg", width: 1400 %>
              </div>
            <% end %>
          </div>
        </div>
          <!-- Left and right controls -->
        <a class="left carousel-control" href="#HotelHafaCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#HotelHafaCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class= "home-row-description">
          <div class="col-xs-6">
            <%= image_tag "home/hotel_img_description.gif", width: 300 %>
          </div>
          <div class="col-xs-6">
            <p class="home-description">
              Petit Hotel Hafa is a boutique hotel experience of bohemian tropical Mexico. 

              Enjoy the roof deck overlooking all of Sayulita while being only two blocks from the beach. 

              The hotel is between two side streets; surrounded by jewelry, clothing and lotion shops, as well as cafes and restaurants. 
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="home-row-about">
          <div class="col-xs-6">
            <p class="home-about">
              It had always been a dream for Marina and Christophe to have a small hotel near the ocean.

              After traveling on their sailboat for many years they came to Sayulita to visit the family. It didn’t take long for them to realize that they had found the place to make their dream come true.
            </p>
          </div>
          <div class="col-xs-6">
            <%= image_tag "about.jpg" %>
          </div>
        </div>
      </div>
      <div class="home-quote">
      <h2 class="text-center">Come share our love of life...</h2>
      </div>
      <div class="container">
        <div class="row full-width">
          <% i = 0 %>
          <% 20.times do %>
            <div class="col-xs-6 col-sm-3">
              <!-- insert <div class="card"> -->
              <%= image_tag "home/gallery/homegallery#{i}.jpg", class: "homegallery" %>
              <% i += 1 %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
