---
title: Hotel Hafa
---

<div id="home">
  <div class="home-pictures">
    <%= image_tag "home/homepage1.jpg", width: 500 %>
    <%= image_tag "home/homepage2.jpg", width: 500 %>
    <%= image_tag "home/homepage3.jpg", width: 500 %>
    <%= image_tag "home/homepage4.jpg", width: 500 %>
    <%= image_tag "home/homepage_3pic.jpg", width: 500 %>
    <%= image_tag "home/homepage6.png", width: 500 %>
  </div>
  <p class="home-description">
  <%= image_tag "home/hotel_img_description.gif", width: 300 %>
    Petit Hotel Hafa is a boutique hotel experience of bohemian tropical Mexico. 

    Enjoy the roof deck overlooking all of Sayulita while being only two blocks from the beach. 

    The hotel is between two side streets; surrounded by jewelry, clothing and lotion shops, as well as cafes and restaurants. 
    Come share our love of life...
  </p>
  <p class="home-about">
    It had always been a dream for Marina and Christophe to have a small hotel near the ocean.

    After traveling on their sailboat for many years they came to Sayulita to visit the family. It didn’t take long for them to realize that they had found the place to make their dream come true.
    <%= image_tag "about.jpg" %>
  </p>
</div>
